.mis-panel-button {
    background-color: #c2e3ea;
    color: #824f4f;
    border-color: rgb(187, 167, 159);
    border-radius: 15px;
}
.center-section-header_button {
    background-color: #c2e3ea;
    color: #824f4f;
    border-color: rgb(187, 167, 159);
    border-radius: 15px;
}