.mis-panel-button {
    background-color: #c2e3ea;
    color: #824f4f;
    border-color: rgb(187, 167, 159);
    border-radius: 15px;
}
.center-section-header_button {
    background-color: #c2e3ea;
    color: #824f4f;
    border-color: rgb(187, 167, 159);
    border-radius: 15px;
}
.button_autorization {
    height: 30px;
    margin-top: 10px;
    background-color: #519e87;
    border-color: #f19426;
    border-radius: 11px;
    width: 150px;
  }
  
   .button_autorization:hover {
    height: 30px;
    margin-top: 10px;
    background-color: #1dd8a0;
    border-color: #c2863c;
    border-radius: 11px;
    width: 150px;
  }
  .lmenu button {
    border-color: rgb(230, 153, 123);
    border-radius: 4px;
    min-width: 60%;
    margin-top: 1%;
    font-weight: 500;
  }
  .lmenu button:hover {
    border-color: rgb(204, 130, 101);
    border-radius: 4px;
    min-width: 62%;
    margin: 1px;
    font-weight: 700;
  }
  .lmenu ul{
    padding: 0;
  }
.btn-in-folders{
  background-color: #1dd8a0;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}


/*-------------------------------------------- admin-------------------------------------------- */


  .add_creeds_btn{
    background-color: #f19426;
    color: #eee;
    font-weight: 700;
      border-radius: 25px;
      margin-top: 1%;
      width: 25%;
      height: 35px;
    margin-left: 70%;
    }
    .add_creeds_btn:hover{
      background-color: #f08f19;
      color: #ffffff;
      font-weight: 900;
        border-radius: 30px;
        margin-top: 1%;
        width: 26%;
        height: 38px;
      margin-left: 70%;
      }
      .delete_site_btn{
    background-color: #f12626c9;
    color: #eee;
    font-weight: 700;
      border-radius: 25px;
      margin-top: 1%;
      width: 25%;
      height: 35px;
    margin-left: 70%;
    }
    .delete_site_btn:hover{
      background-color: #f01919;
      color: #ffffff;
      font-weight: 900;
        border-radius: 30px;
        margin-top: 1%;
        width: 26%;
        height: 38px;
      margin-left: 70%;
      
      }
